# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [1]:
import pandas as pd

recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv", index_col=0)
print(recipes.head())
print(reviews.head())

                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

    submitted  n_steps                                        description  \
0  2002-10-25      NaN  an original recipe created by chef scott meska...
1  2003-07-26      NaN  my children and their friends ask for my homem...
2  2002-08-29      NaN            these were so go, it surprised even me.
3  2002-07-27      NaN  my sister-in-law made these for us at a family...
4  2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients
0           18.0
1            NaN
2            8.0
3            NaN
4            NaN
           user_id  recipe_id        date  rating  \
370476       21752      57993  2003-05-01       5
624300      431813     142201  2007-09-16       5
187037      400708     252013  2008-01-10       4
706134  2001852463     404716  2017-12-11       5
312179       95810     129396  2008-03-14       5

                                                   review
370476  Last week whole sides of frozen salmon fillet ...
624300  So simple and so tasty!  I used a yellow capsi...
187037  Very nice breakfast HH, easy to make and yummy...
706134  These are a favorite for the holidays and so e...
312179  Excellent soup!  The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [2]:
import pandas as pd

recipes_df = pd.read_csv("recipes_sample.csv")

print("Number of rows: ", len(recipes_df))
print("Number of columns: ", len(recipes_df.columns))
print("Data type of each column: ")
print(recipes_df.dtypes)

Number of rows:  30000
Number of columns:  8
Data type of each column:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [3]:
import pandas as pd

reviews_df = pd.read_csv("reviews_sample.csv")

print("Number of rows: ", len(reviews_df))
print("Number of columns: ", len(reviews_df.columns))
print("Data type of each column: ")
print(reviews_df.dtypes)

Number of rows:  126696
Number of columns:  6
Data type of each column:
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [4]:
import pandas as pd

recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv')

print("Доля строк с пропусками в таблице recipes:\n", recipes.isna().mean())
print("Доля строк с пропусками в таблице reviews:\n", reviews.isna().mean())

Доля строк с пропусками в таблице recipes:
 name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64
Доля строк с пропусками в таблице reviews:
 Unnamed: 0    0.000000
user_id       0.000000
recipe_id     0.000000
date          0.000000
rating        0.000000
review        0.000134
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [10]:
import pandas as pd

# читаем файлы
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv')

print('Среднее значение рейтинга блюда в файле recipes_sample.csv:', recipes['n_ingredients'].mean())
print('Среднее значение рейтинга блюда в файле reviews_sample.csv:', reviews['rating'].mean())

print('Среднее значение времени приготовления блюда в файле recipes_sample.csv:', recipes['minutes'].mean())

print('Среднее значение длины отзыва в файле reviews_sample.csv:', reviews['recipe_id'].mean())

Среднее значение рейтинга блюда в файле recipes_sample.csv: 9.008285984848484
Среднее значение рейтинга блюда в файле reviews_sample.csv: 4.410802235271832
Среднее значение времени приготовления блюда в файле recipes_sample.csv: 123.35813333333333
Среднее значение длины отзыва в файле reviews_sample.csv: 160094.38706036497

1.5 Создайте серию из 10 случайных названий рецептов.

In [12]:
import pandas as pd
import random

# загрузка файлов с помощью pandas
recipes_df = pd.read_csv('recipes_sample.csv')
reviews_df = pd.read_csv('reviews_sample.csv')

# выбор 10 случайных названий рецептов и вывод их на экран
recipe_titles = recipes_df['name']
random_recipe_titles = random.sample(list(recipe_titles), k=10)
print(random_recipe_titles)

['plum delicious chicken', '1 dish italian 5 cheese pizza bake', 'grilled spice rubbed pork chops with peach glaze', 'soyu chicken hawaiian style', 'good broccoli casserole', 'power packed purple smoothie', 'pressure cooker risotto with vegetables du jour', 'spinach and cheese lasagna', 'pesto alla trapanese  pesto with tomato and almonds', 'chicken oregano']

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [14]:
import pandas as pd
df = pd.read_csv('reviews_sample.csv')
df['new_index'] = range(0, len(df))
df.set_index('new_index', inplace=True)
df.to_csv('reviews_sample_new_index.csv')

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [4]:
import pandas as pd

recipes_df = pd.read_csv('recipes_sample.csv')  # загружаем данные из файла в DataFrame


sample_df = recipes_df[(recipes_df['minutes'] <= 20) & (recipes_df['n_ingredients'] <= 5)]
print(sample_df)

# сохраняем DataFrame в CSV-файл
#sample_df.to_csv('recipes_sample.csv', index=False)  # index=False, чтобы не сохранять индексы строк в файл

                                                   name      id  minutes  \
0                                   quick biscuit bread  302399       20
1                         peas  fit for a king or queen  303944       20
2                     hawaiian sunrise           mimosa  100837        5
3            tasty dish s   banana pudding in 2 minutes  286484        2
4                                    1 minute meatballs   11361       13
...                                                 ...     ...      ...
2014  zip and steam red potatoes with butter and garlic  304922       13
2015                          ziplock vanilla ice cream   74250       10
2016                      zucchini and corn with cheese  256177       15
2017               zucchini with jalapeno monterey jack  320622       10
2018                          zucchini with serrano ham  162411       15

      contributor_id   submitted  n_steps  \
0             213909  2008-05-06     11.0
1             213909  2008-05-16      NaN
2              58104  2004-09-29      4.0
3              47892  2008-02-13      NaN
4               4470  2001-09-03      NaN
...              ...         ...      ...
2014          724218  2008-05-27      9.0
2015           24386  2003-10-29      8.0
2016          305531  2007-09-29      4.0
2017          305531  2008-08-20      3.0
2018          152500  2006-03-31      6.0

                                            description  n_ingredients
0     this is a wonderful quick bread to make as an ...            5.0
1     this recipe is so simple and the flavors are s...            5.0
2     pineapple mimosa was changed to hawaiian sunri...            3.0
3     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
4     this is a real short cut for cooks in a hurry....            2.0
...                                                 ...            ...
2014  i haven't tried this yet, but i am going to so...            5.0
2015  a fun thing for kids to do. may want to use mi...            3.0
2016  from betty crocker fresh spring recipes. i lik...            5.0
2017                                  simple and yummy!            3.0
2018  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [7]:
import pandas as pd
recipes = pd.read_csv('recipes_sample.csv')
recipes = recipes[recipes['submitted'] <= 2010]
recipes

TypeError: TypeError: '<=' not supported between instances of 'str' and 'int'

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [9]:
recipes["description_length"]=recipes["description"].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0,117.0
1,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0,178.0
2,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0,270.0
3,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0,116.0
4,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0,224.0
...,...,...,...,...,...,...,...,...,...
2014,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0,183.0
2015,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0,157.0
2016,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0,100.0
2017,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0,17.0
2018,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0,136.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [10]:
recipes["name"]=recipes["name"].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,Quick Biscuit Bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0,117.0
1,Peas Fit For A King Or Queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0,178.0
2,Hawaiian Sunrise Mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0,270.0
3,Tasty Dish S Banana Pudding In 2 Minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0,116.0
4,1 Minute Meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0,224.0
...,...,...,...,...,...,...,...,...,...
2014,Zip And Steam Red Potatoes With Butter And Garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0,183.0
2015,Ziplock Vanilla Ice Cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0,157.0
2016,Zucchini And Corn With Cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0,100.0
2017,Zucchini With Jalapeno Monterey Jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0,17.0
2018,Zucchini With Serrano Ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0,136.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [11]:
recipes["name_word_count"] = recipes["name"].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,Quick Biscuit Bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0,117.0,3
1,Peas Fit For A King Or Queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0,178.0,7
2,Hawaiian Sunrise Mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0,270.0,3
3,Tasty Dish S Banana Pudding In 2 Minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0,116.0,8
4,1 Minute Meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0,224.0,3
...,...,...,...,...,...,...,...,...,...,...
2014,Zip And Steam Red Potatoes With Butter And Garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0,183.0,9
2015,Ziplock Vanilla Ice Cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0,157.0,4
2016,Zucchini And Corn With Cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0,100.0,5
2017,Zucchini With Jalapeno Monterey Jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0,17.0,5
2018,Zucchini With Serrano Ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0,136.0,4

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [12]:
recipes.groupby("contributor_id").describe()['id']['count']

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [14]:
import pandas as pd

reviews = pd.read_csv("reviews_sample.csv")

reviews.groupby("recipe_id").describe()['rating']['mean']

reviews['review'].isnull().sum()

KeyboardInterrupt: KeyboardInterrupt:

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [15]:
recipes['id'].groupby(recipes['submitted'].map(lambda x: x.year)).count()

AttributeError: AttributeError: 'str' object has no attribute 'year'

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [19]:
dt= recipes.merge(reviews[["user_id","rating"]], left_on='contributor_id', right_on='user_id', how="right").dropna()
dr=dt[["id", "name", "user_id", "rating"]]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [17]:
dt= recipes.merge(reviews[["user_id","rating"]], left_on='contributor_id', right_on='user_id', how="right").dropna()
dr1=dt[["id", "name", "user_id", "rating"]]

dt[dt['id']==223349]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [18]:
dt.groupby(pd.to_datetime(dt['submitted'], format='%Y-%m-%d').dt.year)[['rating']].mean().idxmax()

dt

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,user_id,rating
0,Diabetic Instant Cocoa Mix,19073.0,5.0,21752.0,2002-02-07,4.0,i got this from a diabetic friend in the state...,5.0,98.0,4.0,21752,5
1,Honeyed Pineapple,16227.0,20.0,21752.0,2001-12-24,11.0,sublimely simple and tastes great!,2.0,34.0,2.0,21752,5
3,Rice Krispies Funnel Kisses,16934.0,17.0,21752.0,2002-01-08,12.0,this is a fun recipe to do with the kids. you ...,3.0,124.0,4.0,21752,5
5,Strawberries And Cream Cocktail,29462.0,5.0,21752.0,2002-05-29,3.0,really yummy. make sure you drink this while w...,4.0,110.0,4.0,21752,5
9,New Orleans Buck,259779.0,5.0,431813.0,2007-10-17,3.0,from cocktail jen. this is basically a collin...,4.0,94.0,3.0,431813,5
...,...,...,...,...,...,...,...,...,...,...,...,...
249058,Vanilla Syrup,56460.0,15.0,17803.0,2003-03-17,4.0,used with vanilla-spiked hot cocoa recipe #564...,3.0,103.0,2.0,17803,5
249062,Ashkenazi Charoset,367885.0,5.0,724631.0,2009-04-25,2.0,entered for safe-keeping for zwt. from oukos...,4.0,244.0,2.0,724631,5
249063,Cherries Jubilee For A Healthy Heart,291938.0,17.0,724631.0,2008-03-14,6.0,a sweet ending that won't break the diet. don...,5.0,458.0,6.0,724631,5
249065,Let S Go Green Fruit And Vegetable Juice,322902.0,4.0,724631.0,2008-09-03,3.0,"entered for safe-keeping, great for the vita-m...",5.0,270.0,8.0,724631,5
249066,Mandarine Napoleon,375148.0,5.0,724631.0,2009-05-31,3.0,"delicious corsican drink to honor napoleon, wh...",5.0,1038.0,2.0,724631,5

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [16]:
recipes["description_length"] =recipes["description"].str.len()
recipes["description"].str.title()
recipes["name_word_count"] = recipes["name"].str.split().str.len()
recipes.sort_values("name_word_count")
recipes.to_csv('ex3.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [7]:

pdd = pd.ExcelWriter('ex5.xlsx')
dr.to_excel(pdd,'Рецепты с оценками')
pdd.save()

NameError: NameError: name 'dr' is not defined

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3